
:root{

    --MENU-HOME-LINK-color: ; /* Color of the home button text */
    --MENU-HOME-LINK-HOVER-color: #e6e6e6; /* Color of the hovered home button text */







}

body {
    color: #36f9f6 !important;
    background-color: transparent !important;
    background-image: linear-gradient(to bottom, #200933 70%, #430949);
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    position: relative;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    display: flex;
    -ms-flex-align: center;
}

textarea:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, select[multiple=multiple]:focus {
    border-color: none;
    box-shadow: none;
}

h1, h2, h3, h4, h5, h6 {
    color: #fff951;
    text-shadow:
      0 0 10px #f3bd1d,
      0 0 20px #f3bd1d
   }

a {
    font-weight: 500;
    color: #36f9f6;
    text-shadow: 0 0 5px #36f9f6;
}

.anchor {
    color: #fff951;
    text-shadow:
    0 0 10px #f3bd1d,
    0 0 20px #f3bd1d
}



#sidebar ul li.visited > a .read-icon {
	color: #fff951;
}


#sidebar {
	background-color: transparent;
}
#sidebar #header-wrapper {
    background: transparent;
    color: transparent;
    border-color: transparent;
}
#sidebar .searchbox {
	border-color: #36f9f6;
    background: transparent;
}
#sidebar ul.topics > li.parent, #sidebar ul.topics > li.active {
    background: rgba(88, 87, 87,.2);
}
#sidebar .searchbox * {
    color: #36f9f6;
}

#sidebar a {
    color: #fc28a8;
    text-shadow: 0 0 5px #fc28a8;
}



#sidebar a:hover {
    color: #fc28a8;
    text-shadow: 
    0 0 10px #fc28a8
}


#sidebar ul li.active > a {
    background:  rgba(88, 87, 87,.2);
    color: #fff951;
    text-shadow:
      0 0 10px #f3bd1d,
      0 0 20px #f3bd1d
}

#sidebar hr {
    border-color: #fc28a8;
}

#body .tags a.tag-link {
    background-color: transparent;
}

#body .tags a.tag-link:before {
    border-right-color: transparent;
}

#homelinks {
  background: transparent;
  background-color: transparent;
  border-bottom-color: transparent;
}

#homelinks a {
  color: transparent;
}

#homelinks a:hover {
  color: transparent;
}